<!-- templates/testing/question.html -->
{% extends "_base.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}Вопрос № {{ current_question }} {% endblock %}
{% block link %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block main %}

<style>
    .question-nav {
        margin-top: 20px;
    }

    .question-nav a {
        margin: 0 5px;
        text-decoration: none;
    }

    .question-nav .correct {
        color: green;
    }

    .question-nav .incorrect {
        color: red;
    }


    .question-nav {
        margin-top: 20px;
    }

    .question-nav a {
        margin: 0 5px;
        text-decoration: none;
    }

    .question-nav .correct {
        color: green;
    }

    .question-nav .incorrect {
        color: red;
    }

    img {
        display: block;
        margin: 0 auto;
        /* Центрирование изображения */
    }

    .row {
        display: flex;
        justify-content: flex-start;
        /* Текст будет статично слева */
        align-items: center;
        /* Центрирование по вертикали, если нужно */
    }

    .col-lg-6:first-child {
        display: flex;
        justify-content: center;
        /* Центрирование изображения по горизонтали */
        align-items: center;
        /* Центрирование изображения по горизонтали */

    }
</style>


<section class="section background-2 no-space m-b-70" style="padding-top: 70px;">
    <div class="container pb-2 mt-5">
        <div class="col mx-auto">
            <!-- Block Banners -->
            <div class="block block-banners banners-effect">
                <div class="block-widget-banner">
                    <div class="bg-banner">
                        <div class="banner-wrapper banners">
                            <div class="banner-image">
                                <a href="#">
                                    <img width="961" height="50%"
                                        src="{% if question.photo %}{{question.photo.url}}{% else %}{% static 'img\no_picture.png' %}{% endif %}"
                                        alt="Banner Image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mx-auto">
            <!-- Block Newsletter -->
            <div class="block block-newsletter ">
                <div class="newsletter-wrap" style="margin: 20px;">
                    <div class="sub-title">Вопрос <span id="current-question">
                            {{ current_question }}</span> из {{ total_questions }}</div>
                    <div class="title" id="question-text">{{ question.text_ru }}</div>
                    <form id="answer-form">
                        {% csrf_token %}
                        <div id="answer-options">
                            {% for answer in answers %}
                            <div>
                                <label for="answer_{{ answer.id }}"><input style="margin-right: 7px;" type="radio"
                                        id="answer_{{ answer.id }}" name="answer" value="{{ answer.id }}">
                                    {{answer.text_ru}}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="answer-button" type="button" id="answer-button"
                                onclick="submitAnswer()">ответить</button>
                        <button type="button" id="language-button" onclick="toggleLanguage()">Сменить язык</button>
                    </form>
                    <div id="result"></div>
                    <div class="question-nav">
                        {% for i, status in indexed_status %}
                        <a href="javascript:void(0)" onclick="navigateToQuestion({{ i }})" id="question-{{ i }}"
                            class="{% if status == 'correct' %}correct{% elif status == 'incorrect' %}incorrect{% endif %}">
                            {{ i|add_one }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<script>
    let currentLanguage = "ru";

    function toggleLanguage() {
        currentLanguage = currentLanguage === "ru" ? "kg" : "ru";
        updateQuestionLanguage();
    }

    function updateQuestionLanguage() {
        let current_question = $('#current-question').text();

        $.ajax({
            url: "{% url 'toggle_language' %}",
            method: "POST",
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'current_question': current_question,
                'language': currentLanguage
            },
            success: function(data) {
                // Обновляем текст вопроса
                $("#question-text").text(data.question_text);
                
                // Обновляем ответы (только ответы, не трогая кнопки)
                let answersHtml = "";
                data.answers.forEach(function(answer) {
                    answersHtml += `
                        <div>
                            <label for="answer_${answer.id}">
                                <input type="radio" id="answer_${answer.id}" name="answer" value="${answer.id}" style="margin-right: 7px;">
                                ${answer.text}
                            </label>
                        </div>
                    `;
                });
                $("#answer-options").html(answersHtml);  // Обновляем только ответы
            },
            error: function(xhr, status, error) {
                console.error(xhr);
            }
        });
    }


    function submitAnswer() {
        let answer_id = $('input[name="answer"]:checked').val();
        if (!answer_id) {
            alert("Пожалуйста, выберите ответ.");
            return;
        }
        $.ajax({
            url: "{% url 'ajax_answer' %}",
            method: "POST",
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'answer_id': answer_id
            },
            success: function (data) {
                if (data.finished) {
                    $("#answer-button").hide();
                    $("#result").html(`Тест завершен. Правильных ответов: ${data.correct_answers} из ${data.total_questions}`);
                    
                    data.question_status.forEach(function (status, index) {
                        let questionNav = $("#question-" + index);
                        questionNav.removeClass("correct incorrect");
                        if (status == 'correct') {
                            questionNav.addClass("correct");
                        } else if (status == 'incorrect') {
                            questionNav.addClass("incorrect");
                        }
                    });
                } else {
                    updateQuestion(data);
                }
            },
            error: function (xhr, status, error) {
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    alert(xhr.responseJSON.error);
                } else {
                    console.error(xhr);
                }
            }
        });
    }



    function navigateToQuestion(index) {
        $.ajax({
            url: "{% url 'navigate_question' %}",
            method: "POST",
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'question_index': index
            },
            success: function (data) {
                updateQuestion(data);
            },
            error: function (xhr, status, error) {
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    alert(xhr.responseJSON.error);
                } else {
                    console.error(xhr);
                }
            }
        });
    }

    function updateQuestion(data) {
        if (data.finished) {
            $("#answer-button").hide();
        } else {
            $("#current-question").text(data.current_question); // Обновляем номер вопроса
            $("#question-text").text(data.next_question_text);  // Обновляем текст вопроса
            
            let photoUrl = data.next_question_photo ? data.next_question_photo + '?v=' + new Date().getTime() : "{% static 'img/no_picture.png' %}";
            $(".banner-image img").attr("src", photoUrl); // Изменяем URL изображения

            let answersHtml = "";
            data.next_answers.forEach(function (answer) {
                answersHtml += `
                    <div>
                        <label for="answer_${answer.id}">
                            <input type="radio" id="answer_${answer.id}" name="answer" value="${answer.id}" style="margin-right: 7px;">
                            ${answer.text_ru}
                        </label>
                    </div>
                `;
            });
            $("#answer-options").html(answersHtml);  // Обновляем только ответы
        }
        
        $("#result").text("Правильно: " + data.correct_answers + ", Неправильно: " + data.incorrect_answers);

        data.question_status.forEach(function (status, index) {
            let questionNav = $("#question-" + index);
            questionNav.removeClass("correct incorrect");
            if (status == 'correct') {
                questionNav.addClass("correct");
            } else if (status == 'incorrect') {
                questionNav.addClass("incorrect");
            }
        });
    }

</script>

{% endblock %}