{% extends "_base.html" %}
{% load static %}
{% block title %}Главная страница | Umut Osh{% endblock %}
{% block main %}

<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="content" class="site-content" role="main">
				<section class="section m-b-70">
					<!-- Block Sliders -->
					<div class="block block-sliders layout-3 nav-vertical">
						<div class="slick-sliders" data-autoplay="true" data-nav="false"
							data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1" data-columns1440="1"
							data-columns="1">
							<div class="slick-slide">
								<div class="item-content">
									<div class="content-image">
										<img width="1920" height="1080" src="{% static 'img\756158235480526.jpg'%}"
											alt="Image Slider" style="filter: blur(3px);-webkit-filter: blur(3px);">
									</div>
									<div class="section-padding">
										<div class="section-container">
											<div class="item-info horizontal-start vertical-middle">
												<div class="content" style="background-color: white; padding: 40px;">
													<h2 class="title-slider" style="font-weight: 600 !important;">Билеты ПДД<br> Кыргызстана 2024</h2>
													<div class="description-slider">Подготовтесь с нами к экзамену</div>
													<a class="button-slider btn-primary" style="padding: 10px 20px;"
														href="{% url 'start_random_test' %}">случайный билет</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding m-b-70">
					<div class="section-container">
						<!-- Block Intro -->
						<div class="block block-intro">
							<div class="block-widget-wrap">
								<div class="intro-image">
									<img width="105" height="105" class="animation-round"
										src="{% static 'media/logo-intro.png'%}" alt="">
								</div>
								<div class="intro-text">
									"Umut Driving" — автошкола, которая предлагает качественное обучение вождению с
									индивидуальным подходом, обеспечивая успешную сдачу экзаменов и комфортное обучение.
								</div>
								<div class="intro-button">
									<a class="btn-underline center" href="blog-grid-left.html">Our Stoires</a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding m-b-70">
					<div class="section-container">
						<!-- Block Banners (Layout 4) -->
						<div class="block block-banners layout-4 banners-effect">
							<div class="block-widget-wrap">
								<div class="row" style="display: flex; justify-content: space-evenly;">
									<div class="col-md-4 sm-m-b-50">
										<div class="block-widget-banner layout-5">
											<div class="bg-banner">
												<div class="banner-wrapper banners">
													<div class="banner-image">
														<a href="{% url 'list_themes_and_tickets' %}">
															<img width="496" height="577"
																src="{% static 'img\imagцes.jpg'%}"
																alt="Banner Image">
														</a>
													</div>
													<div class="banner-wrapper-infor">
														<div class="info">
															<div class="content">
																<a class="link-title" href="{% url 'list_themes_and_tickets' %}">
																	<h3 class="title-banner">Тесты ПДД</h3>
																</a>
																<div class="banner-image-description">
																	Подготовтесь к экзамену ПДД с нами
																</div>
																<!-- <a class="button btn-underline"
																	href="shop-grid-left.html">SHOP NOW</a> -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 sm-m-b-50">
										<div class="block-widget-banner layout-5">
											<div class="bg-banner">
												<div class="banner-wrapper banners">
													<div class="banner-image">
														<a href="{% url 'start_random_test' %}">
															<img width="496" height="577"
																src="{% static 'img\images.png'%}"
																alt="Banner Image">
														</a>
													</div>
													<div class="banner-wrapper-infor text-center">
														<div class="info">
															<div class="content">
																<a class="link-title" href="{% url 'start_random_test' %}">
																	<h3 class="title-banner">Экзамен ПДД</h3>
																</a>
																<div class="banner-image-description">
																	Проверьте свои знания на реальном экзамене ПДД
																</div>
																<!-- <a class="button btn-underline center"
																	href="{% url 'start_random_test' %}">SHOP NOW</a> -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- <div class="col-md-4">
										<div class="block-widget-banner layout-5">
											<div class="bg-banner">
												<div class="banner-wrapper banners">
													<div class="banner-image">
														<a href="shop-grid-left.html">
															<img width="496" height="577"
																src="{% static 'media/banner/banner-8.jpg'%}"
																alt="Banner Image">
														</a>
													</div>
													<div class="banner-wrapper-infor">
														<div class="info">
															<div class="content">
																<a class="link-title" href="shop-grid-left.html">
																	<h3 class="title-banner">Знаки ПДД</h3>
																</a>
																<div class="banner-image-description">
																	Изучите знаки ПДД чтобы быть уверенным на
																</div>
																	<a class="button btn-underline"
																	href="shop-grid-left.html">SHOP NOW</a> -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> 
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section section-padding top-border p-t-70 m-b-70">
					<div class="section-container">
						<!-- Block Product Categories -->
						<div class="block block-product-cats slider">
							<div class="block-widget-wrap">
								<div class="block-title">
									<h2>Темы</h2>
								</div>
								<div class="block-content">
									<div class="product-cats-list slick-wrap">
										<div class="slick-sliders content-category" data-dots="0" data-slidestoscroll="true"
											data-nav="1" data-columns4="2" data-columns3="3" data-columns2="4" data-columns1="5"
											data-columns1440="5" data-columns="5">
											{% for theme in themes %}
											<div class="item item-product-cat slick-slide">
												<div class="item-product-cat-content">
													<a href="{% url 'start_test_theme' theme_id=theme.id %}">
														<div class="item-image">
															<img width="258" height="258" src="{% static 'media/product/cat-1.jpg'%}"
																alt="bed-bath">
														</div>
													</a>
													<div class="product-cat-content-info">
														<h2 class="item-title">
															<a href="{% url 'start_test_theme' theme_id=theme.id %}">
																{{ theme.text}}</a>
														</h2>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>
{% endblock %}