{% extends "_base.html" %}
{% load static %}
{% block title %}Главная страница | Umut Osh{% endblock %}
{% block main %}

<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="content" class="site-content" role="main">
				<section class="section m-b-70">
					<!-- Block Sliders -->
					<div class="block block-sliders layout-3 nav-vertical">
						<div class="slick-sliders" data-autoplay="true" data-dots="true" data-nav="false"
							data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1" data-columns1440="1"
							data-columns="1">
							<div class="item slick-slide">
								<div class="item-content">
									<div class="content-image">
										<img width="1920" height="1080" src="{% static 'media/slider/7.jpg'%}"
											alt="Image Slider">
									</div>
									<div class="section-padding">
										<div class="section-container">
											<div class="item-info horizontal-start vertical-middle">
												<div class="content">
													<h2 class="title-slider">Правила <br>ПДД</h2>
													<div class="description-slider">Ваша безопасность на дорогах
													</div>
													<a class="button-slider button-white"
														href="shop-grid-left.html">Изучить</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item slick-slide">
								<div class="item-content">
									<div class="content-image">
										<img width="1920" height="1080" src="{% static 'media/slider/8.jpg'%}"
											alt="Image Slider">
									</div>
									<div class="section-padding">
										<div class="section-container">
											<div class="item-info horizontal-start vertical-middle">
												<div class="content">
													<h2 class="title-slider">Билеты ПДД<br> Кыргызстана 2024</h2>
													<div class="description-slider">Подготовтесь с нами к экзамену</div>
													<a class="button-slider button-white"
														href="{% url 'start_random_test' %}">случайный билет</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item slick-slide">
								<div class="item-content">
									<div class="content-image">
										<img width="1920" height="1080" src="{% static 'media/slider/9.jpg'%}"
											alt="Image Slider">
									</div>
									<div class="section-padding">
										<div class="section-container">
											<div class="item-info horizontal-start vertical-middle">
												<div class="content">
													<h2 class="title-slider">The <br> Great Outdoors</h2>
													<div class="description-slider">Soft seats that welcome you
														home</div>
													<a class="button-slider button-white"
														href="shop-grid-left.html">SHOP NOW</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding m-b-70">
					<div class="section-container">
						<!-- Block Intro -->
						<div class="block block-intro">
							<div class="block-widget-wrap">
								<div class="intro-image">
									<img width="105" height="105" class="animation-round"
										src="{% static 'media/logo-intro.png'%}" alt="">
								</div>
								<div class="intro-text">
									"Umut Driving" — автошкола, которая предлагает качественное обучение вождению с
									индивидуальным подходом, обеспечивая успешную сдачу экзаменов и комфортное обучение.
								</div>
								<div class="intro-button">
									<a class="btn-underline center" href="blog-grid-left.html">Our Stoires</a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding m-b-70">
					<div class="section-container">
						<!-- Block Banners (Layout 4) -->
						<div class="block block-banners layout-4 banners-effect">
							<div class="block-widget-wrap">
								<div class="row">
									<div class="col-md-4 sm-m-b-50">
										<div class="block-widget-banner layout-5">
											<div class="bg-banner">
												<div class="banner-wrapper banners">
													<div class="banner-image">
														<a href="shop-grid-left.html">
															<img width="496" height="577"
																src="{% static 'media/banner/banner-6.jpg'%}"
																alt="Banner Image">
														</a>
													</div>
													<div class="banner-wrapper-infor">
														<div class="info">
															<div class="content">
																<a class="link-title" href="shop-grid-left.html">
																	<h3 class="title-banner">Outdoor With a
																		Touch of Class</h3>
																</a>
																<div class="banner-image-description">
																	Style any outdoor area with some careful
																	study and sound decisions.
																</div>
																<a class="button btn-underline"
																	href="shop-grid-left.html">SHOP NOW</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 sm-m-b-50">
										<div class="block-widget-banner layout-5">
											<div class="bg-banner">
												<div class="banner-wrapper banners">
													<div class="banner-image">
														<a href="shop-grid-left.html">
															<img width="496" height="577"
																src="{% static 'media/banner/banner-7.jpg'%}"
																alt="Banner Image">
														</a>
													</div>
													<div class="banner-wrapper-infor text-center">
														<div class="info">
															<div class="content">
																<a class="link-title" href="shop-grid-left.html">
																	<h3 class="title-banner">A Beautiful,
																		Restful Bedroom</h3>
																</a>
																<div class="banner-image-description">
																	Make you bedroom your inner sanctuary.
																</div>
																<a class="button btn-underline center"
																	href="shop-grid-left.html">SHOP NOW</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="block-widget-banner layout-5">
											<div class="bg-banner">
												<div class="banner-wrapper banners">
													<div class="banner-image">
														<a href="shop-grid-left.html">
															<img width="496" height="577"
																src="{% static 'media/banner/banner-8.jpg'%}"
																alt="Banner Image">
														</a>
													</div>
													<div class="banner-wrapper-infor">
														<div class="info">
															<div class="content">
																<a class="link-title" href="shop-grid-left.html">
																	<h3 class="title-banner">Beautiful Boho
																		Dining</h3>
																</a>
																<div class="banner-image-description">
																	Make your meal times experience an event by
																	styling with a boho look.
																</div>
																<a class="button btn-underline"
																	href="shop-grid-left.html">SHOP NOW</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding top-border p-t-70 m-b-70">
					<div class="section-container">
						<!-- Block Product Categories -->
						<div class="block block-product-cats slider">
							<div class="block-widget-wrap">
								<div class="block-title">
									<h2>Shop by Department</h2>
								</div>
								<div class="block-content">
									<div class="product-cats-list slick-wrap">
										<div class="slick-sliders content-category" data-dots="0"
											data-slidestoscroll="true" data-nav="1" data-columns4="2" data-columns3="3"
											data-columns2="4" data-columns1="5" data-columns1440="5" data-columns="5">
											<div class="item item-product-cat slick-slide">
												<div class="item-product-cat-content">
													<a href="shop-grid-left.html">
														<div class="item-image">
															<img width="258" height="258"
																src="{% static 'media/product/cat-1.jpg'%}"
																alt="bed-bath">
														</div>
													</a>
													<div class="product-cat-content-info">
														<h2 class="item-title">
															<a href="shop-grid-left.html">Bed & Bath</a>
														</h2>
													</div>
												</div>
											</div>
											<div class="item item-product-cat slick-slide">
												<div class="item-product-cat-content">
													<a href="shop-grid-left.html">
														<div class="item-image">
															<img width="258" height="258"
																src="{% static 'media/product/cat-2.jpg'%}"
																alt="furniture">
														</div>
													</a>
													<div class="product-cat-content-info">
														<h2 class="item-title">
															<a href="shop-grid-left.html">Furniture</a>
														</h2>
													</div>
												</div>
											</div>
											<div class="item item-product-cat slick-slide">
												<div class="item-product-cat-content">
													<a href="shop-grid-left.html">
														<div class="item-image">
															<img width="258" height="258"
																src="{% static 'media/product/cat-3.jpg'%}"
																alt="home-decor">
														</div>
													</a>
													<div class="product-cat-content-info">
														<h2 class="item-title">
															<a href="shop-grid-left.html">Home Décor</a>
														</h2>
													</div>
												</div>
											</div>
											<div class="item item-product-cat slick-slide">
												<div class="item-product-cat-content">
													<a href="shop-grid-left.html">
														<div class="item-image">
															<img width="258" height="258"
																src="{% static 'media/product/cat-4.jpg'%}"
																alt="lighting">
														</div>
													</a>
													<div class="product-cat-content-info">
														<h2 class="item-title">
															<a href="shop-grid-left.html">Lighting</a>
														</h2>
													</div>
												</div>
											</div>
											<div class="item item-product-cat slick-slide">
												<div class="item-product-cat-content">
													<a href="shop-grid-left.html">
														<div class="item-image">
															<img width="258" height="258"
																src="{% static 'media/product/cat-5.jpg'%}"
																alt="office">
														</div>
													</a>
													<div class="product-cat-content-info">
														<h2 class="item-title">
															<a href="shop-grid-left.html">Office</a>
														</h2>
													</div>
												</div>
											</div>
											<div class="item item-product-cat slick-slide">
												<div class="item-product-cat-content">
													<a href="shop-grid-left.html">
														<div class="item-image">
															<img width="258" height="258"
																src="{% static 'media/product/cat-6.jpg'%}"
																alt="outdoor">
														</div>
													</a>
													<div class="product-cat-content-info">
														<h2 class="item-title">
															<a href="shop-grid-left.html">Outdoor</a>
														</h2>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section background-2 no-space m-b-70">
					<div class="row">
						<div class="col-lg-6">
							<!-- Block Banners -->
							<div class="block block-banners banners-effect">
								<div class="block-widget-banner">
									<div class="bg-banner">
										<div class="banner-wrapper banners">
											<div class="banner-image">
												<a href="#">
													<img width="961" height="452"
														src="{% static 'media/banner/newsletter-1.jpg'%}"
														alt="Banner Image">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<!-- Block Newsletter -->
							<div class="block block-newsletter position-center">
								<div class="newsletter-wrap">
									<div class="sub-title">Join our mailing list!</div>
									<div class="title">Fancy $30* off your first order?</div>
									<div class="newsletter-content">
										<span class="your-email">
											<input type="email" name="your-email" value="" size="40"
												aria-required="true" placeholder="Email address">
										</span>
										<span class="clearfix">
											<input type="submit" value="Subscribe">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding m-b-70">
					<div class="section-container">
						<!-- Block Product Categories -->
						<div class="block block-product-cats layout-2">
							<div class="block-widget-wrap">
								<div class="block-title">
									<h2>Shop by Style</h2>
								</div>
								<div class="block-content">
									<div class="row">
										<div class="col-md-3 sm-m-b-30">
											<div class="cat-item">
												<div class="cat-image">
													<a href="shop-grid-left.html">
														<img width="303" height="366"
															src="{% static 'media/product/cat-7.jpg'%}"
															alt="Product Category">
													</a>
												</div>
												<div class="cat-title">
													<a href="shop-grid-left.html">
														<h3>Mid Century Modern</h3>
													</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 sm-m-b-30">
											<div class="cat-item">
												<div class="cat-image">
													<a href="shop-grid-left.html">
														<img width="303" height="366"
															src="{% static 'media/product/cat-8.jpg'%}"
															alt="Product Category">
													</a>
												</div>
												<div class="cat-title">
													<a href="shop-grid-left.html">
														<h3>French Provincial</h3>
													</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 sm-m-b-30">
											<div class="cat-item">
												<div class="cat-image">
													<a href="shop-grid-left.html">
														<img width="303" height="366"
															src="{% static 'media/product/cat-9.jpg'%}"
															alt="Product Category">
													</a>
												</div>
												<div class="cat-title">
													<a href="shop-grid-left.html">
														<h3>Classic Traditional</h3>
													</a>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="cat-item">
												<div class="cat-image">
													<a href="shop-grid-left.html">
														<img width="303" height="366"
															src="{% static 'media/product/cat-10.jpg'%}"
															alt="Product Category">
													</a>
												</div>
												<div class="cat-title">
													<a href="shop-grid-left.html">
														<h3>Scandinavian</h3>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding top-border p-t-70 m-b-70">
					<div class="section-container">
						<!-- Block Products -->
						<div class="block block-products slider">
							<div class="block-widget-wrap">
								<div class="block-title">
									<h2>Browse our Bestsellers</h2>
								</div>
								<div class="block-content">
									<div class="content-product-list slick-wrap">
										<div class="slick-sliders products-list grid" data-slidestoscroll="true"
											data-dots="false" data-nav="1" data-columns4="1" data-columns3="2"
											data-columns2="3" data-columns1="3" data-columns1440="4" data-columns="4">
											<div class="item-product slick-slide">
												<div class="items">
													<div class="products-entry clearfix product-wapper">
														<div class="products-thumb">
															<div class="product-lable">
																<div class="hot">Hot</div>
															</div>
															<div class="product-thumb-hover">
																<a href="shop-details.html">
																	<img width="600" height="600"
																		src="{% static 'media/product/1.jpg'%}"
																		class="post-image" alt="">
																	<img width="600" height="600"
																		src="{% static 'media/product/1-2.jpg'%}"
																		class="hover-image back" alt="">
																</a>
															</div>
															<div class="product-button">
																<div class="btn-add-to-cart" data-title="Add to cart">
																	<a rel="nofollow" href="#"
																		class="product-btn button">Add to
																		cart</a>
																</div>
																<div class="btn-wishlist" data-title="Wishlist">
																	<button class="product-btn">Add to
																		wishlist</button>
																</div>
																<div class="btn-compare" data-title="Compare">
																	<button class="product-btn">Compare</button>
																</div>
																<span class="product-quickview" data-title="Quick View">
																	<a href="#" class="quickview quickview-button">Quick
																		View <i class="icon-search"></i></a>
																</span>
															</div>
														</div>
														<div class="products-content">
															<div class="contents text-center">
																<h3 class="product-title"><a
																		href="shop-details.html">Zunkel
																		Schwarz</a></h3>
																<span class="price">$100.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="item-product slick-slide">
												<div class="items">
													<div class="products-entry clearfix product-wapper">
														<div class="products-thumb">
															<div class="product-lable">
																<div class="hot">Hot</div>
															</div>
															<div class="product-thumb-hover">
																<a href="shop-details.html">
																	<img width="600" height="600"
																		src="{% static 'media/product/2.jpg'%}"
																		class="post-image" alt="">
																	<img width="600" height="600"
																		src="{% static 'media/product/2-2.jpg'%}"
																		class="hover-image back" alt="">
																</a>
															</div>
															<div class="product-button">
																<div class="btn-add-to-cart" data-title="Add to cart">
																	<a rel="nofollow" href="#"
																		class="product-btn button">Add to
																		cart</a>
																</div>
																<div class="btn-wishlist" data-title="Wishlist">
																	<button class="product-btn">Add to
																		wishlist</button>
																</div>
																<div class="btn-compare" data-title="Compare">
																	<button class="product-btn">Compare</button>
																</div>
																<span class="product-quickview" data-title="Quick View">
																	<a href="#" class="quickview quickview-button">Quick
																		View <i class="icon-search"></i></a>
																</span>
															</div>
														</div>
														<div class="products-content">
															<div class="contents text-center">
																<h3 class="product-title"><a
																		href="shop-details.html">Namaste
																		Vase</a></h3>
																<span class="price">$200.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="item-product slick-slide">
												<div class="items">
													<div class="products-entry clearfix product-wapper">
														<div class="products-thumb">
															<div class="product-lable">
																<div class="hot">Hot</div>
															</div>
															<div class="product-thumb-hover">
																<a href="shop-details.html">
																	<img width="600" height="600"
																		src="{% static 'media/product/3.jpg'%}"
																		class="post-image" alt="">
																	<img width="600" height="600"
																		src="{% static 'media/product/3-2.jpg'%}"
																		class="hover-image back" alt="">
																</a>
															</div>
															<div class="product-button">
																<div class="btn-add-to-cart" data-title="Add to cart">
																	<a rel="nofollow" href="#"
																		class="product-btn button">Add to
																		cart</a>
																</div>
																<div class="btn-wishlist" data-title="Wishlist">
																	<button class="product-btn">Add to
																		wishlist</button>
																</div>
																<div class="btn-compare" data-title="Compare">
																	<button class="product-btn">Compare</button>
																</div>
																<span class="product-quickview" data-title="Quick View">
																	<a href="#" class="quickview quickview-button">Quick
																		View <i class="icon-search"></i></a>
																</span>
															</div>
														</div>
														<div class="products-content">
															<div class="contents text-center">
																<h3 class="product-title"><a
																		href="shop-details.html">Chair Oak Matt
																		Lacquered</a></h3>
																<span class="price">$150.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="item-product slick-slide">
												<div class="items">
													<div class="products-entry clearfix product-wapper">
														<div class="products-thumb">
															<div class="product-lable">
																<div class="onsale">-33%</div>
															</div>
															<div class="product-thumb-hover">
																<a href="shop-details.html">
																	<img width="600" height="600"
																		src="{% static 'media/product/4.jpg'%}"
																		class="post-image" alt="">
																	<img width="600" height="600"
																		src="{% static 'media/product/4-2.jpg'%}"
																		class="hover-image back" alt="">
																</a>
															</div>
															<div class="product-button">
																<div class="btn-add-to-cart" data-title="Add to cart">
																	<a rel="nofollow" href="#"
																		class="product-btn button">Add to
																		cart</a>
																</div>
																<div class="btn-wishlist" data-title="Wishlist">
																	<button class="product-btn">Add to
																		wishlist</button>
																</div>
																<div class="btn-compare" data-title="Compare">
																	<button class="product-btn">Compare</button>
																</div>
																<span class="product-quickview" data-title="Quick View">
																	<a href="#" class="quickview quickview-button">Quick
																		View <i class="icon-search"></i></a>
																</span>
															</div>
														</div>
														<div class="products-content">
															<div class="contents text-center">
																<h3 class="product-title"><a
																		href="shop-details.html">Pillar Dining
																		Table Round</a></h3>
																<span class="price">
																	<del aria-hidden="true"><span>$150.00</span></del>
																	<ins><span>$100.00</span></ins>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="item-product slick-slide">
												<div class="items">
													<div class="products-entry clearfix product-wapper">
														<div class="products-thumb">
															<div class="product-lable">
																<div class="onsale">-7%</div>
															</div>
															<div class="product-thumb-hover">
																<a href="shop-details.html">
																	<img width="600" height="600"
																		src="{% static 'media/product/5.jpg'%}"
																		class="post-image" alt="">
																	<img width="600" height="600"
																		src="{% static 'media/product/5-2.jpg'%}"
																		class="hover-image back" alt="">
																</a>
															</div>
															<div class="product-button">
																<div class="btn-add-to-cart" data-title="Add to cart">
																	<a rel="nofollow" href="#"
																		class="product-btn button">Add to
																		cart</a>
																</div>
																<div class="btn-wishlist" data-title="Wishlist">
																	<button class="product-btn">Add to
																		wishlist</button>
																</div>
																<div class="btn-compare" data-title="Compare">
																	<button class="product-btn">Compare</button>
																</div>
																<span class="product-quickview" data-title="Quick View">
																	<a href="#" class="quickview quickview-button">Quick
																		View <i class="icon-search"></i></a>
																</span>
															</div>
															<div class="product-stock">
																<span class="stock">Out Of Stock</span>
															</div>
														</div>
														<div class="products-content">
															<div class="contents text-center">
																<h3 class="product-title"><a
																		href="shop-details.html">Amp Pendant
																		Light Large</a></h3>
																<span class="price">
																	<del aria-hidden="true"><span>$150.00</span></del>
																	<ins><span>$140.00</span></ins>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="btn-all">
										<a class="button-outline" href="shop-grid-left.html">VIEW ALL</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding top-border p-t-70 m-b-70">
					<div class="section-container">
						<!-- Block Testimonial -->
						<div class="block block-testimonial layout-2">
							<div class="block-widget-wrap">
								<div class="block-title">
									<h2>What Our Customers Say</h2>
								</div>
								<div class="block-content">
									<div class="testimonial-wrap slick-wrap">
										<div class="slick-sliders" data-slidestoscroll="true" data-nav="1" data-dots="0"
											data-columns4="1" data-columns3="1" data-columns2="2" data-columns1="2"
											data-columns="3">
											<div class="testimonial-content">
												<div class="item">
													<div class="testimonial-item">
														<div class="testimonial-icon">
															<div class="rating">
																<div class="star star-5"></div>
															</div>
															<span class="icon-quote"></span>
														</div>
														<h2 class="testimonial-title">Amazing piece of history
														</h2>
														<div class="testimonial-excerpt">
															” Wonderful communication and your company even sent
															a generous amount of samples to me, making my
															decision to spend money on an internet item easy.
															Thank you. Product quality is perfect. “
														</div>
													</div>
													<div class="testimonial-image image-position-top">
														<div class="thumbnail">
															<img width="62" height="62"
																src="{% static 'media/testimonial/1.jpg'%}" alt="">
														</div>
														<div class="testimonial-info">
															<h2 class="testimonial-customer-name">Robet Smith
															</h2>
														</div>
													</div>
												</div>
											</div>
											<div class="testimonial-content">
												<div class="item">
													<div class="testimonial-item">
														<div class="testimonial-icon">
															<div class="rating">
																<div class="star star-4"></div>
															</div>
															<span class="icon-quote"></span>
														</div>
														<h2 class="testimonial-title">Fabulous Grounds</h2>
														<div class="testimonial-excerpt">
															” Wonderful communication and your company even sent
															a generous amount of samples to me, making my
															decision to spend money on an internet item easy.
															Thank you. Product quality is perfect. “
														</div>
													</div>
													<div class="testimonial-image image-position-top">
														<div class="thumbnail">
															<img width="62" height="62"
																src="{% static 'media/testimonial/2.jpg'%}" alt="">
														</div>
														<div class="testimonial-info">
															<h2 class="testimonial-customer-name">Saitama One
															</h2>
														</div>
													</div>
												</div>
											</div>
											<div class="testimonial-content">
												<div class="item">
													<div class="testimonial-item">
														<div class="testimonial-icon">
															<div class="rating">
																<div class="star star-5"></div>
															</div>
															<span class="icon-quote"></span>
														</div>
														<h2 class="testimonial-title">I love Almo</h2>
														<div class="testimonial-excerpt">
															” Wonderful communication and your company even sent
															a generous amount of samples to me, making my
															decision to spend money on an internet item easy.
															Thank you. Product quality is perfect. “
														</div>
													</div>
													<div class="testimonial-image image-position-top">
														<div class="thumbnail">
															<img width="62" height="62"
																src="{% static 'media/testimonial/3.jpg'%}" alt="">
														</div>
														<div class="testimonial-info">
															<h2 class="testimonial-customer-name">Sara Colinton
															</h2>
														</div>
													</div>
												</div>
											</div>
											<div class="testimonial-content">
												<div class="item">
													<div class="testimonial-item">
														<div class="testimonial-icon">
															<div class="rating">
																<div class="star star-5"></div>
															</div>
															<span class="icon-quote"></span>
														</div>
														<h2 class="testimonial-title">Stunning Design</h2>
														<div class="testimonial-excerpt">
															” Wonderful communication and your company even sent
															a generous amount of samples to me, making my
															decision to spend money on an internet item easy.
															Thank you. Product quality is perfect. “
														</div>
													</div>
													<div class="testimonial-image image-position-top">
														<div class="thumbnail">
															<img width="62" height="62"
																src="{% static 'media/testimonial/4.jpg'%}" alt="">
														</div>
														<div class="testimonial-info">
															<h2 class="testimonial-customer-name">Shetty Jamie
															</h2>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-padding top-border p-t-20 m-b-20">
					<div class="section-container">
						<!-- Block Image -->
						<div class="block block-image slider">
							<div class="block-widget-wrap">
								<div class="slick-wrap">
									<div class="slick-sliders" data-nav="0" data-columns4="2" data-columns3="3"
										data-columns2="4" data-columns1="4" data-columns1440="5" data-columns="5">
										<div class="item slick-slide">
											<div class="item-image">
												<a href="#">
													<img width="450" height="450" src="{% static 'media/brand/1.jpg'%}"
														alt="Brand 1">
												</a>
											</div>
										</div>
										<div class="item slick-slide">
											<div class="item-image">
												<a href="#">
													<img width="450" height="450" src="{% static 'media/brand/2.jpg'%}"
														alt="Brand 2">
												</a>
											</div>
										</div>
										<div class="item slick-slide">
											<div class="item-image">
												<a href="#">
													<img width="450" height="450" src="{% static 'media/brand/3.jpg'%}"
														alt="Brand 3">
												</a>
											</div>
										</div>
										<div class="item slick-slide">
											<div class="item-image">
												<a href="#">
													<img width="450" height="450" src="{% static 'media/brand/4.jpg'%}"
														alt="Brand 4">
												</a>
											</div>
										</div>
										<div class="item slick-slide">
											<div class="item-image">
												<a href="#">
													<img width="450" height="450" src="{% static 'media/brand/5.jpg'%}"
														alt="Brand 5">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>
{% endblock %}