{% extends "_base.html" %}
{% load static %}
{% block title %}Контактная информация | Umut Driving{% endblock %}
{% block main %}
<div id="site-main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
			<div id="title" class="page-title">
				<div class="section-container">
					<div class="content-title-heading">
						<h1 class="text-title-heading">
							Контакты
						</h1>
					</div>
					<div class="breadcrumbs">
						<a href="index.html">Главная</a><span class="delimiter"></span>Контакты
					</div>
				</div>
			</div>

			<div id="content" class="site-content" role="main">
				<div class="page-contact">
					<section class="section section-padding">
						<div class="section-container small">
							<!-- Block Contact Map -->
							<div class="block block-contact-map">
								<div class="block-widget-wrap">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2778.7822685559995!2d72.81650152286237!3d40.57949751295725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bda9006d6d2b6d%3A0xd0b0f521dc825210!2z0JbQp9Ca44CK0KPQnNCj0KLjgIvQkNCS0KLQntCc0JXQmtCi0JXQkdCY!5e0!3m2!1sru!2skg!4v1741496708173!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
								</div>
							</div>
						</div>
					</section>	

					<section class="section section-padding m-b-70">
						<div class="section-container">
							<!-- Block Contact Info -->
							<div class="block block-contact-info">
								<div class="block-widget-wrap">
									<div class="info-icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-icon2 plant" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path xmlns="http://www.w3.org/2000/svg" d="m320.174 28.058a8.291 8.291 0 0 0 -7.563-4.906h-113.222a8.293 8.293 0 0 0 -7.564 4.907l-66.425 148.875a8.283 8.283 0 0 0 7.564 11.655h77.336v67.765a20.094 20.094 0 1 0 12 0v-67.765h27.7v288.259h-48.441a6 6 0 0 0 0 12h108.882a6 6 0 0 0 0-12h-48.441v-288.259h117.04a8.284 8.284 0 0 0 7.564-11.657zm-103.874 255.567a8.094 8.094 0 1 1 8.094-8.093 8.1 8.1 0 0 1 -8.094 8.093zm-77.61-107.036 63.11-141.437h108.4l63.11 141.437z" fill="" data-original="" style=""></path></g></svg>
									</div>
									<div class="info-title">
										<h2>Как с нами связаться</h2>
									</div>
									<div class="info-items">
										<div class="row">
											<div class="col-md-4 sm-m-b-30">
												<div class="info-item">
													<div class="item-tilte">
														<h2>Телефон</h2>
													</div>
													<div class="item-content">
														+996 558‒91‒19‒19
														
													</div>
													<div class="item-content">
														
														+996 552‒10‒10‒50
													</div>
												</div>
											</div>
											<div class="col-md-4 sm-m-b-30">
												<div class="info-item">
													<div class="item-tilte">
														<h2>Режим работы</h2>
													</div>
													<div class="item-content">
														<p>С понедельника по Субботу</p>
														<p>8:30 – 7:30pm</p>
														<p>Воскресенье закрыты</p>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="info-item">
													<div class="item-tilte">
														<h2>Адресс</h2>
													</div>
													<div class="item-content small-width">
														<a href="https://2gis.kg/bishkek/search/%D1%83%D0%BC%D1%83%D1%82%20%D0%B0%D0%B2%D1%82%D0%BE%D1%88%D0%BA%D0%BE%D0%BB%D0%B0/firm/70000001090428335/72.813088%2C40.579729?m=72.812894%2C40.579275%2F18">Улица Наримана, 30</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main-content -->
</div>
	<script src="{% static 'libs/slider/js/tmpl.js' %}"></script>
	<script src="{% static 'libs/slider/js/jquery.dependClass-0.1.js' %}"></script>
	<script src="{% static 'libs/slider/js/draggable-0.1.js' %}"></script>
	<script src="{% static 'libs/slider/js/jquery.slider.js' %}"></script>
{% endblock %}
